.image-layout {
    background-color: #252525;
    padding: 0px; /* Adjust the padding as needed */
    text-align: center;
    border-radius: 25px;
    overflow: hidden;
  }
  
  @media (max-width: 767px) {
    .img-banner {
      max-width: 100%; /* Adjust as needed for small screens */
      height: auto; /* Maintain aspect ratio */
    }
  }
  
  .img-hover-zoom {
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom img {
    transition: transform 0.9s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .card:hover .img-hover-zoom img {
    transform: scale(1.2);
  }
  
  .category--list {
    text-align: center;
    padding: 14px;
    align-items: center;
  }
  
  .categories--link {
    width: 220px;
    height: 86px;
    text-align: center;
    border-radius: 40px;
    border: none;
  }
  
  .recipe--lists {
    padding: 5px;
    border-radius: 25px;
    overflow: hidden;
  }
  
  .card {
    border-radius: 15px;
    max-width: 300px;
  }
  
  .card:hover {
    cursor: pointer;
  }
  
  .card-img-top {
    border-radius: 20px;
  }
  
  .card-title {
    font-weight: 700;
    font-size: 18px;
  }

  .card-title:hover{
    color: rgb(211, 2, 65);
  }
  
  .card-text {
    font-size: 15px;
    color: #dc582a;
    font-weight: 600;
    vertical-align: middle;
    padding-left: 5px;
  }

  .menuicon {
    display: flex;
    justify-content: end;
    align-items: end;
    left: 85%;
    position: relative;
  }