        <div class="container-fluid">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="mt-4 pt-4 mb-4">
                    <span class="text-left fs-1 fw-7 pt-4 mt-4">Recipes-List</span>
                </div>
                <div style="float:left;">
                    <button mat-raised-button color="primary">Create Recipe</button>
                </div>
                <div class="mt-4 pt-4 d-flex flex-wrap bd-highlight justify-content-center align-items-center">
                    <div class="recipe--lists bd-highlight"  *ngFor="let recipe of recipes">
                        <div class="card" style="width: 17rem;" routerLink="view-recipes">
                            <div class="img-hover-zoom">
                            <img [src]="recipe.image" class="card-img-top" alt="..." width="300px" height="200px">
                            </div>
                            <div class="card-body">
                            <h5 class="card-title fw-8">{{recipe.name}}</h5>
                              <p class="card-text" style="vertical-align:middle;align-items:center">  <mat-icon class="example-tab-icon" style="vertical-align:middle;padding-bottom:10px">update</mat-icon> {{recipe.prepare_time}}</p>
                            </div>
                          </div>
                    </div>
            
                </div>
            </div>
        </div>
      