.img-hover-zoom {
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform 0.5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.2);
}

.category--list {
  text-align: center;
  padding: 14px;
  align-items: center;
}

.categories--link {
  width: 220px;
  height: 86px;
  text-align: center;
  border-radius: 40px;
  border: none;
}

.recipe--lists {
  padding: 5px;
  border-radius: 25px;
  overflow: hidden;
}

.card {
  border-radius: 15px;
  padding: 5px;
}

.card:hover {
  color: rgb(211, 2, 65);
  cursor: pointer;
}

.card-img-top {
  border-radius: 20px;
}

.card-title {
  font-weight: 700;
  font-size: 18px;
}

.card-text {
  font-size: 15px;
  color: #dc582a;
  font-weight: 600;
}
