
<div class="container" >
    <form [formGroup]="createRecipe" >
     <div class="row mt-3 pt-3">
        <div class="col-12">
            <div><h1>Create Recipe here!!</h1></div>
        </div>
     </div>   
      
    <div class="row justify-content-center  mt-3 pt-3">
        <div class="col-md-6  col-sm-12 col-xs-12">
          
            <div class="add-recipe-image mb-3">
                <img *ngIf="selectedImage==''||undefined" src="assets/images/recipes_placeholder.png" 
                width="100%"  height="300px"/>
                <span style="padding-top:270px;position: absolute;right:53%">
                <button mat-mini-fab color="primary" style="background: #509e2f;" (click)="fileInput.click()"><span class="material-symbols-outlined">
                    photo_camera
                </span></button></span>
                <img *ngIf="selectedImage!==''||undefined"[src]="selectedImage"  
               
                width="100%"  height="300px"/>
            </div>
            <input
            type="file"
            #fileInput
            (change)="onImageSelected($event)"
            formControlName="recipe_image"
            accept="image/*"
            style="display: none;"
            />
            <div class="row mb-3">
                <div class="col-12 mt-2">
                    <button mat-flat-button color="primary" style="background: #509e2f;" (click)="onSubmit(createRecipe.value)">
                        <mat-icon>check</mat-icon>CREATE RECIPE</button>
                </div>
                <div class="col-12 mt-3 pt-3">
                    <mat-form-field appearance="outline" class="create-recipe-fieldGroup">
                        <input matInput  placeholder="Recipe Cook Time" formControlName="prep_time">
                    </mat-form-field>
                </div>

            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-6  mb-3">
                    <mat-form-field appearance="outline" class="create-recipe-fieldGroup">
                        <input matInput  placeholder="Recipe Title" formControlName="recipe_name">
                    </mat-form-field>
                </div>
                <div class="col-6 mb-3">
                    <mat-form-field appearance="outline" class="create-recipe-fieldGroup">
                        <input matInput  placeholder="Recipe Description" formControlName="description">
                    </mat-form-field>
                </div>
                <div class="col-6 mb-3">
                    <mat-form-field appearance="outline" class="create-recipe-fieldGroup">
                        <mat-select placeholder="Select Category" formControlName="category" (change)="onSelectCategory($event)" multiple>
                            <mat-option *ngFor="let cat of categoriesList" [value]="cat.name">{{ cat.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6 mb-3">
                    <mat-form-field appearance="outline" class="create-recipe-fieldGroup">
                        <input matInput  placeholder="Recipe Servings Count" formControlName="servings">
                    </mat-form-field>
                </div> 


                <ng-container formArrayName="ingredients">
                    <ng-container   >
                            
                            <mat-card class="p-3 mat-elevation-z6">
                            <h3 style="font-size: 20px;font-weight: 700;">Ingredients:</h3>
                            <div  *ngFor="let int of ingredientsControl.controls; let i=index" [formGroupName]="i">
                                <h4>Ingredients No: {{i+1}}</h4>
                                <div class="col-6 mb-3">
                                <mat-form-field appearance="outline" class="create-recipe-fieldGroup">
                                    <input matInput  placeholder="Ingredients Name" formControlName="ingredient_name">
                                </mat-form-field>   
                            </div>
                                         
                            <div class="col-6 mb-3">
                                <mat-form-field appearance="outline" class="create-recipe-fieldGroup" >
                                    <input matInput  placeholder="Quantity used" formControlName="quantity">
                                </mat-form-field>
                            </div>
                            <span class="ingredients--array"  matTooltip="remove Ingredients">
                               <button mat-flat-button color="warn"  (click)="removeIngredients(i)"> <span class="material-icons ">close</span>Remove Ingredients</button>
                            </span>  </div></mat-card>
                        
                        </ng-container>
                </ng-container>  
                
                <div class="col-12 mt-2 pt-2 mb-4">
                    <button mat-raised-button color="primary" style="background: #509e2f;" matTooltip="Add Ingredients" (click)="addIngredients()" aria-label="Example icon button with a menu icon">
                        <mat-icon>add</mat-icon>Add Ingredients
                    </button>
                </div>
                <ng-container  formArrayName="preparation_steps">
                    <ng-container   >
                <mat-card class="p-3" style="overflow: hidden;">
                <h3 style="font-size: 20px;font-weight: 700;">Preparation Instruction:</h3>
                <div *ngFor="let steps of prepStepsControl.controls; let i=index">

                   
                <h4>Step No: {{i+1}}</h4>
                <div class="col-12 mb-3">
                    <mat-form-field appearance="outline" class="create-recipe-fieldGroup">
                        <input matInput  placeholder="Steps" [formControlName]="i">
                    </mat-form-field>
                </div>
                <span class="ingredients--array"  matTooltip="Remove Steps">
                    <button mat-flat-button color="warn"  (click)="removeSteps(i)"> <span class="material-icons ">close</span>Remove Steps</button>
                 </span> </div> </mat-card>
                </ng-container></ng-container>
                <div class="col-6 mb-4 mt-3">
                    <button mat-flat-button color="primary" style="background: #509e2f;" (click)="addSteps()">
                        <mat-icon>add</mat-icon>Add  Steps</button>

                </div>

            </div>
        </div>
    
    </div>
</form>
</div>