body {
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  justify-content: center;
  overflow-y: auto;
}

.img-banner {
  position: relative;
  width:100%;
  height: 355px;
  background-size: cover;
  border-radius: 25px;
}

.image-layout {
  background-color: #252525;
  padding: 0px; /* Adjust the padding as needed */
  text-align: center;
  border-radius: 25px;
  overflow: hidden;
}

@media (max-width: 767px) {
  .img-banner {
    max-width: 100%; /* Adjust as needed for small screens */
    height: auto; /* Maintain aspect ratio */
  }
}

.img-hover-zoom {
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform 0.9s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.card:hover .img-hover-zoom img {
  transform: scale(1.2);
}

.category--list {
  text-align: center;
  padding: 14px;
  align-items: center;
}

.categories--link {
  width: 220px;
  height: 86px;
  text-align: center;
  border-radius: 40px;
  border: none;
}

.recipe--lists {
  padding: 5px;
  border-radius: 25px;
  overflow: hidden;
}

.card {
  border-radius: 15px;
  max-width: 300px;
}

.card:hover {
  cursor: pointer;
}



.card-img-top {
  border-radius: 20px;
}

.card-title {
  font-weight: 700;
  font-size: 18px;
}

.card-title:hover {
  color: rgb(211, 2, 65);
}

.card-text {
  font-size: 15px;
  color: #dc582a;
  font-weight: 600;
  vertical-align: middle;
  padding-left: 5px;
}

@media (max-width: 768px) {
  
  .carousel-item {
    display: none;
  }
  .carousel-item.active,
  .carousel-item.active + .carousel-item {
    display: block;
  }
}

/* Show four items on larger screens */
@media (min-width: 768px) {
  .carousel-item {
    display: none;
  }
  .carousel-item.active,
  .carousel-item.active + .carousel-item,
  .carousel-item.active + .carousel-item + .carousel-item + .carousel-item {
    display: block;
  }
}

.sidenav {
  width: 400px;
  height: 100%;
  overflow-y: auto; 
  position: fixed;

}


mat-list-item {
  color: #509e2f;
 
}

.drawer--navMenu {
  margin-top: 100px;
}

::ng-deep mat-list-item.active-link {
  /* background-color: #509e2f; */
  color: white;
  
}

.avatar {
  vertical-align: middle;
  border-radius: 50%;
  background-image: url('https://avatars.dicebear.com/api/adventurer-neutral/mail%40ashallendesign.co.uk.svg');
  background-size: cover;
}

::ng-deep .mat-mdc-standard-chip.mat-primary.mat-mdc-chip-selected {
  --mdc-chip-elevated-container-color: #509e2f;
}

::ng-deep .ngx-pagination .current { 
  background: #509e2f !important;
  color: #fefefe;
  position: relative;
}

@media only screen and (max-width:450px) {
  .recipe-search-box {
    display: block;
    justify-content: center;
    align-items: center;
    align-self:center;
  }
} 