
<div class="container-fluid main">

    <div class=" d-flex flex-column justify-content-center align-items-center p-5">
      <!--   <div>
            <carousel [isAnimated]="true">
            <slide>
                <img class="img-banner"  src="https://www.eatingwell.com/thmb/eJhOXcO3mq2u78h81FWkd5Eq_l0=/2000x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/banner-sheet-pan-salmon-05a00be168794157a58f7c741831afde.jpg" alt="first slide" style="display: block;" width="1120px"  height="355px">
                <div class="carousel-caption d-none d-md-block">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </slide>
            <slide>
                <img class="img-banner" src="https://www.readyseteat.com/sites/g/files/qyyrlu501/files/images/article/hero/article_mothersday-desserts-header_3780x1144.jpg" style="display: block;"  width="1120px"  height="355px">
                <div class="carousel-caption d-none d-md-block">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </slide>
          <slide>
                <img class="img-banner" src="https://www.hungryjacks.com.au/Upload/HJ/Media/UNO/HJ00641_Penny-pinchers_WebBanner_coke_3560-x-988px_1.jpg" alt="third slide" style="display: block;" width="1120px"  height="355px">
                <div class="carousel-caption d-none d-md-block">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </slide> 
            </carousel>
        </div> -->
        <div class="mt-4 pt-4 mb-4">
            <span class="text-left fs-1 fw-7 pt-4 mt-4">All Recipes</span>
        </div>
        <div class="mb-4" >
            <mat-chip-listbox aria-label="Fish selection" >
                <mat-chip-option *ngFor="let cat of categoriesList"  (click)="searchcat(cat.name)">{{cat.name}}</mat-chip-option>
              </mat-chip-listbox>
        </div>
        <div class="d-lg-flex flex-column flex-md-row flex-lg-row justify-content-center " *ngIf="getRecipesCollection?.length>0">
           
                <div class="recipe-search-box" >
                    <mat-form-field appearance="outline" style="width:300px !important;">
                        <mat-label>Search Recipes</mat-label>
                        <input type="text" matInput [(ngModel)]="searchTerm" placeholder="Search Recipe.. ex:Sambar,pulao"
                        (input)="searchRecipeByName(searchTerm)">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>
                <div class="d-inline-flex float-end " style="right: 10%; position: absolute;">
                    <div style="vertical-align: middle;align-items: center;margin-right: 5px;padding-top: 5px;">
                        <h3>Sort by:</h3>
                    </div>
                    <div style="vertical-align: middle;">
                        <select class="form-select" aria-label="Default select example" (change)="onSort($event)">
                            <option *ngFor="let sort of sortList" [value]="sort.value" >{{sort.name}}</option>
                          </select>
                    </div>
                </div>
        </div>
        <div class="mt-4 pt-4 d-flex flex-wrap bd-highlight justify-content-center align-items-center" *ngIf="getRecipesCollection?.length>0">
            <div class="recipe--lists bd-highlight"  *ngFor="let recipe of getRecipesCollection | paginate: {
                id:'listing_pagination',itemsPerPage:isItemsPerPage, currentPage: pagination,totalItems:totalRecords}">
                <mat-card class="card" (click)="onSelectRecipe(recipe._id)">
                    <mat-card-header>
                      <div mat-card-avatar class="avatar"></div>
                      <mat-card-title >{{recipe.username}}</mat-card-title>
                      <mat-card-subtitle></mat-card-subtitle>
                    </mat-card-header>
                    <div class="img-hover-zoom">
                    <img mat-card-image [src]="recipe.recipe_image" alt="" width="280px" height="200px"></div>
                    <mat-card-content>
                        <div style="padding-top:1em;font-size: 13px;">
                            <span class="material-symbols-outlined "  
                            style="vertical-align:middle;font-size: 13px;">
                            schedule
                            </span><span style="padding-left: 3px;vertical-align: middle;">{{recipe.prep_time}}</span>
                        </div>
                       
                        <h5 class="card-title fw-8 pt-2">{{recipe.recipe_name|titlecase}}</h5>
                        {{recipe.description.length>10 ? recipe.description.slice(0,20)+'...' : recipe.description }}
                        <!-- <p  style="vertical-align:middle;align-items:center;padding-top: 5px;"> 
                          <span class="material-symbols-outlined example-tab-icon"  style="vertical-align:middle">
                          schedule
                          </span><span class="card-text">30mins</span></p> -->
                      <p style="padding-top: 15px;">
                        <span style="font-size: 12px;vertical-align: middle;">
                            <span class="material-symbols-outlined" style="font-size: 12px;vertical-align: middle;">
                            category
                            </span><span style="vertical-align: middle;">category#: {{recipe.category}}</span></span>
                      </p>
                    </mat-card-content>
                    <mat-card-actions align="end">
                      <small class="text-body-secondary">Last updated {{recipe.updatedAt| timeAgo}}</small>
                      <button mat-icon-button ><span class="material-symbols-outlined">
                        share
                        </span></button>
                    </mat-card-actions>
                  </mat-card>
            </div>
        </div>
        <div class="d-flex flex-row pt-3 mt-3 gap-3" *ngIf="getRecipesCollection?.length>0">
                <div style="float: left;">
                    <p>Showing {{isItemsPerPage}} out of {{totalRecipes}} Recipes</p>
                </div>   
                <div>
                    <pagination-controls id="listing_pagination" class="align-items-center"  previousLabel="Previous"
                    nextLabel="Next" (pageChange)="onTablePageChange($event)"></pagination-controls>
                </div>
        </div>
        <div class="mt-4 pt-4 d-flex flex-row bd-highlight justify-content-center align-items-center" *ngIf="getRecipesCollection?.length<=0">
            <div>
                <img src="assets/images/Oops.png" width="300" height="300"/>
            </div>
            <h2 class="mt-4 pt-4">Oops, Sorry Recipes Not Found </h2>
        </div>
    </div>
</div>



