/* .container {
  padding: 10px;
}

.example-tab-icon {
  margin-right: 8px;
}

.responsive-img {
  height: 300px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

ol {
  padding: 0;
  margin: 0;
  max-width: 400px;
  position: relative;
}

ol::before {
  content: "";
  width: 0.5rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 8%;
  background: rgb(192, 169, 247);
  z-index: -1;
  vertical-align: middle;
}

li {
  padding: 0.5rem 1.5rem 1rem;
  border-radius: 1.5rem;
  background: rgb(192, 169, 247);
}

li + li {
  margin-top: 1rem;
}

::marker {
  font-weight: 600;
  color: indigo;
  font-size: 1.8rem;
}
 */
.view--recipe--page {
  width: 1440px;
  height: 1024px;
}

.recipe--image {
  width: 506px;
  height: 600px;
  flex-shrink: 0;
  border-radius: 45px;

  /* Background Color */
  background-color: lightgray;
  
  /* Background Position and Size */
  background-position: 50%;
  background-size: cover;
  
  /* Background Repeat */
  background-repeat: no-repeat;
  
  /* Additional Background Color */
  background-color: #d9d9d9;
}

.rectangle--box {
  width: 598px;
  height: 615px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 1px 21px 0px rgba(0, 0, 0, 0.2);
  top:-10px;
  padding: 30px;
  overflow-y: auto;
}

.recipe--data {
  background: red;
  width: 150px;
  display: flex;
  align-items: center;
}

/* ::ng-deep .mat-mdc-tab .mdc-tab__text-label {
  color: white;
} */

::ng-deep .mat-mdc-tab {
  background: var(--grey-lighten-4, #F5F5F5);
  color:black;
  border-radius: 5px;
  user-select: none; /* Standard syntax */
}

::ng-deep .mdc-tab--active {
  color:white;
  background-color: #509e2f;
}

::ng-deep .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label
{
  color: white;
}

.ingredients--text {
  padding-top: 20px;
  color: #000;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
  letter-spacing: 0.5px
}

.cooking--steps {
  padding-top: 4px;
}