

  
<div class="container-fluid main">

    <div class=" d-flex flex-column justify-content-center align-items-center p-5">
       
        <div>
            <!-- img class="img-banner img-fluid rounded-3" 
            src="./assets/images/pizza-home.jpg" alt="..."/> -->
            <carousel [isAnimated]="true">
            <slide>
                <img class="img-banner"  src="https://www.eatingwell.com/thmb/eJhOXcO3mq2u78h81FWkd5Eq_l0=/2000x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/banner-sheet-pan-salmon-05a00be168794157a58f7c741831afde.jpg" alt="first slide" style="display: block;" width="1120px"  height="355px">
                <div class="carousel-caption d-none d-md-block">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </slide>
            <slide>
                <img class="img-banner" src="https://www.readyseteat.com/sites/g/files/qyyrlu501/files/images/article/hero/article_mothersday-desserts-header_3780x1144.jpg" style="display: block;"  width="1120px"  height="355px">
                <div class="carousel-caption d-none d-md-block">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </slide>
          <slide>
                <img class="img-banner" src="https://www.hungryjacks.com.au/Upload/HJ/Media/UNO/HJ00641_Penny-pinchers_WebBanner_coke_3560-x-988px_1.jpg" alt="third slide" style="display: block;" width="1120px"  height="355px">
                <div class="carousel-caption d-none d-md-block">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </slide> 
            </carousel>
        </div>
        <div class="mt-4 pt-4 mb-4">
            <span class="text-left fs-1 fw-7 pt-4 mt-4">All Recipes</span>
        </div>
        <div class="mt-4 pt-4 d-flex flex-wrap bd-highlight justify-content-center align-items-center">
            <div class="recipe--lists bd-highlight"  *ngFor="let recipe of getRecipesCollection">
                <div class="card" style="width: 17rem;" (click)="onSelectRecipe()">
                    <div class="card-header bg-transparent">  
                        <div class="card-header bg-transparent  d-inline-flex p-0">  
                        <div><img src="https://avatars.dicebear.com/api/adventurer-neutral/mail%40ashallendesign.co.uk.svg" class="avatar" alt="Avatar" /></div>
                        <div style="padding-left: 6px;vertical-align: middle;padding-top:4px;">{{recipe.username}}</div>
                        </div>
                    </div>
                    <div class="img-hover-zoom">
                    <img [src]="recipe.recipe_image" class="card-img-top" alt="..." width="300px" height="200px">
                    </div>
                    <div class="card-body">
                    <h5 class="card-title fw-8">{{recipe.recipe_name}}</h5>
                      <p class="card-text" style="vertical-align:middle;align-items:center">  <mat-icon class="example-tab-icon" style="vertical-align:middle;padding-bottom:10px">update</mat-icon>{{recipe.prepare_time}}</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>



<!-- <div class="container">
    <div class="row  main">
        <div class="col-md-12 col-lg-12">
           <div class="image-layout"> 
            <img class="img-banner img-fluid rounded-1" 
            src="./assets/images/pizza-home.jpg" alt="..."/>
            </div>
        </div>
        <div class="col-md-12 col-lg-12 mt-4">
            <div class="category--list mx-auto justify-content-center align-items-center d-lg-inline-flex gap-3">
               <div class="categories--link" style="background-color:#f6784c;color:#ffffff">Recipes & Menus</div>
               <div class="categories--link" style="background-color:#C4D600;color:#ffffff"><p>Share your Recipe</p></div>
               <div class="categories--link" style="background-color:#EAAA00;color:#ffffff">Custom meal plan</div>
               <div class="categories--link" style="background-color:#ED8B00;color:#ffffff">Create grocery list</div>
               <div class="categories--link" style="background-color:#84BD00s;color:#ffffff">Cooking Tips & Tricks</div>
            </div>
        </div>

        <div class="col-md-12 col-lg-12 mt-4">
            <div class="recipe--cards d-flex flex-wrap align-content-center  mb-3">
                <div class="card" style="width: 18rem;" *ngFor="let recipe of recipes">
                    <img src="http://via.placeholder.com/340x160" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
 -->

<!-- <div class="container">
    <div class=" main row">
        <div class="col-md-12">
            <img src="http://via.placeholder.com/1264x355"/>
        </div>
        <div class="col-md-12">
    </div>
    <div class="main">

        <div class="category">
            <div class="row">
                <div class="category_name col-md-2">

                </div>
            </div>
        </div>
    </div>
</div>
 -->
 
