<nav class="navbar">
    <div class="container">
        <div class="menu-toggler"><span style="vertical-align:middle;align-items:center" 
            class="material-symbols-outlined">
            menu
       </span></div>
        <div class="logo"><span class="logo-text">Recipe</span> Book</div>
        <div class="search hide-for-small-only" >
            <input type="text" placeholder="Search for Recipes">
            <button style="vertical-align:middle;align-items:center"><span class="material-symbols-outlined"
                style="vertical-align:middle;align-items:center">
                search
            </span>
        </button>
        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </div>
</nav>