
.sidenav {
    width: 300px;
    height: 100%;
    overflow-y: auto; 
    position: fixed;
  
  }

::ng-deep .mat-drawer-container {
  background-color: white;
}
  
  
  mat-list-item {
    color: #509e2f;
   
  }
  
  .drawer--navMenu {
    margin-top: 10px;
  }
  
  ::ng-deep mat-list-item.active-link {
    /* background-color: #509e2f; */
    color: white;
    
  }
  
  .nav-links a { 
    color: #252525; 
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 600;}
  
  .nav-links:hover a{ 
    
    color: #509e2f; 
    
  }
  .nav-links:hover {
    /* background-color: #509e2f; */
    border-left-style: solid;
    border-left-color: #509e2f;
    border-left-width: 9px;
  }
  
  .active {
    border-left-style: solid;
    border-left-color: #509e2f;
    border-left-width: 9px;
  }
  
  .active a {
    color: #509e2f;
  
  }
  

  @media (max-width: 575px) {
    .sidenav {
      position: absolute;
      display: none;
    }
  }

  @media (max-width: 475px) {
  .toolbarNav {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    background-color: white;
  
    -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
    box-shadow: 2px 2px 4px 5px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  
   
  }

  button ,span{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    display: block;
    
  }

  button:hover,
  .active-link {
    /* color: blueviolet; */
    color: #509e2f;
  }
  
}

@media only screen and  (min-width: 650px)  {
.toolbarNav {
  display: none;
}
}


.sidemenu-icons {
  vertical-align: middle;
}

.avatar {
  vertical-align: middle;
  border-radius: 50%;
  background-image: url('https://avatar.iran.liara.run/public/28');
  background-size: cover;
  width: 90px;
  height: 90px;
}
