<ngx-spinner bdColor = "rgba(0,180,0,0.8)" size = "medium" color = "#fff" [type]="spinnerType" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="sidenav"  mode="side">
        <div class="drawer--navMenu">
        <mat-nav-list >
            <mat-list role="list">
              
            </mat-list>
            <div style="margin-bottom: 50px;padding-left: 10px;">
              <img src="https://avatar.iran.liara.run/public/28" class="avatar"/>

                <span matListItemTitle style="font-size: 18px;font-weight: 00;font-family: Arial, Helvetica, sans-serif;vertical-align: middle;">Welcome back!
            </span>
            </div>
            <mat-divider></mat-divider>
            <mat-list-item class="nav-links" routerLink="/home" routerLinkActive="active">
              <a matListItemTitle>
                <span class="material-symbols-outlined color_blue sidemenu-icons fs-3">
                  outdoor_grill
                </span> 
                <span style="font-size: 16px;vertical-align: middle;padding-left: 5px">All Recipes </span>
            </a>
            </mat-list-item>
            
            <mat-list-item class="nav-links" routerLink="/my-recipe" routerLinkActive="active">
              <a matListItemTitle>
                <span class="material-symbols-outlined color_blue sidemenu-icons">
                  favorite
                </span> <span style="font-size: 16px;vertical-align: middle;padding-left: 5px"> My Recipes</span> </a>
            </mat-list-item>
            <mat-list-item class="nav-links" routerLink="/create" routerLinkActive="active">
                <a matListItemTitle>
                  <span class="material-symbols-outlined color_blue sidemenu-icons">
                    add_circle
                  </span> 
                  <span style="font-size: 16px;vertical-align: middle;padding-left: 5px">Create New Recipe</span> </a>
              </mat-list-item>
            <mat-list-item class="nav-links">
              <a matListItemTitle>
                  <span class="material-symbols-outlined sidemenu-icons">
                  account_circle
                  </span>
                  <span style="font-size: 16px;vertical-align: middle;padding-left: 5px">Profile</span> </a>
            </mat-list-item>
           <mat-divider></mat-divider>
            <mat-list-item class="nav-links">
                <a matListItemTitle><span class="material-symbols-outlined sidemenu-icons">
                  settings
                  </span>Settings </a>
            </mat-list-item>
    </mat-nav-list>
</div>
</mat-drawer>
<main><app-header></app-header>
  <router-outlet></router-outlet></main>
<footer>
  <mat-toolbar class="toolbarNav" *ngIf="isUserAuth()">
    <button mat-flat-button routerLink="/" routerLinkActive="active-link">
      <span class="material-symbols-outlined color_blue">
        outdoor_grill
      </span>
      <span>All Recipes</span>
    </button>
    <button mat-flat-button routerLink="/my-recipe" routerLinkActive="active-link">
      <span class="material-symbols-outlined color_blue">
        favorite
      </span>
      <span>My Recipes</span>
    </button>
    <button mat-flat-button routerLink="/create" routerLinkActive="active-link">
      <span class="material-symbols-outlined color_blue">
        add_circle
      </span>
      <span>Add Recipe</span>
    </button>
  </mat-toolbar>
</footer>
<!-- rgba(0, 0, 0, 0.8) -->
</mat-drawer-container>